@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", serif;
    font-size: 20px;
}

section {
    padding-bottom: 20px;
    border-bottom: 5px solid #ff0000;
    margin-bottom: 20px;
}

.text1 {
    line-height: 30px;
    font-weight: 300;
    font-style: italic;
}

.text2 {
    font-weight: 600;
    text-decoration: line-through;
}

.text3 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.text4 {
    color: blueviolet;
    font-weight: 600;
    word-spacing: 30px;
    text-decoration-line: overline;
    text-decoration-color: blueviolet;
    text-decoration-style: wavy;
}

.text5 {
    font-weight: 600;
    letter-spacing: 5px;
    text-decoration-line: underline;
    text-decoration-style: double;
}